<div class="details">
  <div class="description">
    <p class="paragraph">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat temporibus voluptatum, voluptates doloribus mollitia omnis delectus! Nulla
      illum minus iure quasi. Omnis repellat quam repellendus. Corrupti libero numquam deleniti ducimus?
    </p>
    <p class="paragraph">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat temporibus voluptatum, voluptates doloribus mollitia omnis delectus! Nulla
      illum minus iure quasi. Omnis repellat quam repellendus. Corrupti libero numquam deleniti ducimus?
    </p>

    <ul class="list">
      <li class="list__item">Close to the beach</li>
      <li class="list__item">Breakfast Included</li>
      <li class="list__item">Free airport shuttle</li>
      <li class="list__item">Free Wifi in all rooms</li>
      <li class="list__item">Air Conditioning And heating</li>
      <li class="list__item">Pets Allowed</li>
      <li class="list__item">We speak all languages</li>
      <li class="list__item">Perfect for families</li>
    </ul>
    <div class="recommend">
      <p class="recommend__count">Lucy and 3 others friend recommend this hotel.</p>
      <div class="recommend__friends">
        <img src="../../../assets/img/user-3.jpg" alt="Friend Photo 1" class="recommend__photo" />
        <img src="../../../assets/img/user-4.jpg" alt="Friend Photo 2" class="recommend__photo" />
        <img src="../../../assets/img/user-5.jpg" alt="Friend Photo 3" class="recommend__photo" />
        <img src="../../../assets/img/user-6.jpg" alt="Friend Photo 4" class="recommend__photo" />
      </div>
    </div>
  </div>

  <div class="user-reviews">
    <figure class="review">
      <blockquote class="review__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi mollitia deleniti provident sunt et, ducimus soluta, aut doloremque est a cum
        iure doloribus in aliquam quos sapiente sequi! Deserunt, optio?
      </blockquote>
      <figcaption class="review__user">
        <img src="../../../assets/img/user-1.jpg" alt="User 1" class="review__photo" />
        <div class="review__user-box">
          <p class="review__user-name">John Doe</p>
          <p class="review__user-date">Feb 21st, 2019</p>
        </div>
        <div class="review__rating">7.8</div>
      </figcaption>
    </figure>

    <figure class="review">
      <blockquote class="review__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi mollitia deleniti provident sunt et, ducimus soluta, aut doloremque est a cum
        iure doloribus in aliquam quos sapiente sequi! Deserunt, optio?
      </blockquote>
      <figcaption class="review__user">
        <img src="../../../assets/img/user-3.jpg" alt="User 1" class="review__photo" />
        <div class="review__user-box">
          <p class="review__user-name">Max Pain</p>
          <p class="review__user-date">April 1st, 2019</p>
        </div>
        <div class="review__rating">9.0</div>
      </figcaption>
    </figure>
  </div>
</div>
